<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular1MobileBase" version="0.0.0.21" targetFramework="net40" />
  <package id="Angular1WebsiteBase" version="0.0.0.18" targetFramework="net40" />
  <package id="WebsiteBase" version="0.0.0.74" targetFramework="net40" />
  <package id="WebsiteLayout" version="0.0.0.16" targetFramework="net40" />
</packages>