<div class="footer">
    <div class="footer-block-third" ng-click="$ctrl.itemClick('partners')">
        <svg-button class="responsive-svg-button" xlinkhref="./icons/users.svg#icon" view-box="0 0 1792 1792"></svg-button>
        <div class="footer-label">Partners</div>
    </div>
    <div class="footer-block-third" ng-click="$ctrl.itemClick('events-view')">
        <svg-button class="responsive-svg-button" xlinkhref="./icons/calendar.svg#icon" view-box="0 0 1792 1792"></svg-button>
        <div class="footer-label">Events</div>
    </div>
    <div class="footer-block-third" ng-click="$ctrl.itemClick('coach')">
        <svg-button class="responsive-svg-button" xlinkhref="./icons/user-md.svg#icon" view-box="0 0 1792 1792"></svg-button>
        <div class="footer-label">Coach</div>
    </div>
</div>