<div class="mobile-container">
    <app-logo></app-logo>
    <div class="fullscreen-modal-dialog-spacer"></div>
    <div class="fullscreen-container-item">
        <button class="sign-up-button fullscreen-modal-button" ng-click="$ctrl.redeem()" type="submit">Redeem Coupon</button>
    </div>
    <!--<div class="fullscreen-modal-dialog-spacer"></div>
    <div class="fullscreen-container-item">
        <button class="sign-up-button fullscreen-modal-button" ng-click="$ctrl.manageResults()" type="submit">Manage Results</button>
    </div>
    <div class="fullscreen-modal-dialog-spacer"></div>
    <div class="fullscreen-container-item">
        <button class="fullscreen-modal-button" ng-click="$ctrl.signOut()" type="submit">Sign Out</button>
    </div>-->
    <div class="fullscreen-modal-dialog-filler"></div>
</div>

<busy-indicator loading="$ctrl.loading"></busy-indicator>
