<div class="mobile-container screen-container home-container">

    <div id="block1" class="home-block">
        <div ng-click="$ctrl.iconClick('loyalty')">
            <svg-button class="home-svg-button" xlinkhref="./icons/credit-card.svg#icon" view-box="0 0 1792 1792"></svg-button>
            <div>Loyalty</div>
            <span class="home-badge" ng-if="$ctrl.unreadNews > 0">{{$ctrl.unreadNews}}</span>
        </div>
    </div>
    <div id="block2" class="home-block">
        <div ng-click="$ctrl.iconClick('bunny')">
            <svg-button class="home-svg-button" xlinkhref="./icons/rabbit.svg#icon" view-box="0 0 1000 1000"></svg-button>
            <div>Bunnies</div>
        </div>
    </div>
    <div id="block3" class="home-block">
        <div ng-click="$ctrl.iconClick('stores')">
            <svg-button class="home-svg-button" xlinkhref="./icons/map-marker.svg#icon" view-box="0 0 1792 1792"></svg-button>
            <div>Stores</div>
        </div>
    </div>
    <div id="block4" class="home-block">
        <div ng-click="$ctrl.iconClick('redeem')">
            <svg-button class="home-svg-button" xlinkhref="./icons/money.svg#icon" view-box="0 0 1792 1792"></svg-button>
            <div>Redeem</div>
        </div>
    </div>

    <div id="emergencyBlock" class="home-block">
        <div ng-click="$ctrl.iconClick('emergency')">
            <svg-button class="home-svg-button" xlinkhref="./icons/bell.svg#icon" view-box="0 0 1792 1792"></svg-button>
            <div>SOS</div>
        </div>
    </div>
</div>
<div class="home-background">

</div>
<busy-indicator loading="$ctrl.loading"></busy-indicator>
<style>

    .home-container::before {
        content: "";
        background: url('images/caltex_back_2.jpg');
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        /*z-index: -1;*/
        background-repeat: round;
        /*background-attachment: fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .home-badge {
        position: fixed;
        top: 10px;
        right: 10px;
        padding-right: .6em;
        padding-left: .6em;
        border-radius: 10rem;
        display: inline-block;
        padding: .25em .4em;
        padding-right: 0.4em;
        padding-left: 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }

    .home-svg-button > svg {
        width: 37px;
        height: 30px;
    }

    #block1 {
        left: 0;
        top: 0;
        border-right: 1px solid rgba(128,128,128,0.6);
    }

    #block2 {
        left: 50%;
        top: 0;
    }

    #block3 {
        left: 0;
        top: 50%;
        border-right: 1px solid rgba(128,128,128,0.6);
        border-top: 1px solid rgba(128,128,128,0.6);
        border-bottom: 1px solid rgba(128,128,128,0.6);
    }

    #block4 {
        left: 50%;
        top: 50%;
        border-top: 1px solid rgba(128,128,128,0.6);
        border-bottom: 1px solid rgba(128,128,128,0.6);
    }

    #emergencyBlock {
        left: 25%;
        top: 25%;
    }

        #emergencyBlock > div {
            background-color: #e42f46;
        }

    .home-block {
        position: absolute;
        height: 50%;
        width: 50%;
    }

    .home-block > * {
        cursor: pointer;
    }

        .home-block > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
            padding: 20px 0 20px 0;
            color: white;
            background-color: #035A85;
            border-radius: 1000px;
            width: 100px;
            text-transform: uppercase;
        }
</style>
